<div ng-show="loggedrole=='DOCTOR'" class="container">
<div ng-show="loadingData" class="alert alert-info">
  		<span class="glyphicon glyphicon-time"></span> Loading...
</div>

<!---Dropdown to select patients--->
<div class="form-group">
<div class="dropdown">
  <label class="col-sm-3 control-label" for="select">Select Patient</label>
  <select ng-options="pat.fname for pat in pats"  ng-model="selectedPat" ng-change="showHistory(a.appointmentid)"></select>
</div>
</div>

<div class="row" ng-show="selectedPat!=null">
<legend>
     Patient Details
</legend>                
<!--  Patient Record Table -->
<div class="box-body">
<div class="form-group">
  <label class="col-sm-3 control-label" for="fname">Patient name:</label><div>{{selectedPat.fname}}</div>
  </div>
  <div class="form-group">
  <label class="col-sm-3 control-label" for="fname">Patient dob:</label><div>{{selectedPat.dob}}</div>
  </div>
  <div class="form-group">
  <label class="col-sm-3 control-label" for="fname">Patient gender:</label><div>{{selectedPat.gender}}</div>
  </div>
</div>
</div>
<div class="row">
<legend>
     Diagnosis Report History
</legend>             
<!--  Patient Record Table -->
<div class="box-body">
  <!-- Table starts here -->
  <table id="table" class="table table-bordered table-hover table-mc-light-blue">
      <thead>
        <tr class="info">
          <th>Date</th>
          <th>Diagnosis</th>
		  <th>Medicines</th>
        </tr>
      </thead>
      <tbody>
	  <tr ng-repeat="history in historyDetail">
          <td data-title="Date">{{history.appointmentDate}}</td>
          <td data-title="Diagnosis">{{history.illnessDesc}}</td>
		  <td data-title="Medicines">{{history.medicines}}</td>
      </tr>
		
	  </tbody>
</table>
</div>
</div>
</div>
