<div class="container">
<div><span ng-show="loadingData" class="red"><img ng-src = "load.png" alt = "Loading..."/></span></div>

<div ng-show="loggedrole=='DOCTOR'" class="container">

<!---Dropdown to select patients--->
<div class = "padding60">
<div class="dropdown">
  <label for="select">Select Patient</label>
  <select ng-options="pat.fname for pat in pats"  ng-model="selectedPat" ng-change="showHistory(a.appointmentid)"></select>
</div>
</div>
<div class="row" ng-show="selectedPat!=null">
<h4 class="modal-title">
     Patient Details
</h4>                
<!--  Patient Record Table -->
<div class="table-responsive-vertical shadow-z-1 padding50">
  <div><label for="fname">Patient name:</label>{{selectedPat.fname}}</div>
  <div><label for="fname">Patient dob:</label>{{selectedPat.dob}}</div>
  <div><label for="fname">Patient gender:</label>{{selectedPat.gender}}</div>
</div>
</div>
<div class="row">
<h4 class="modal-title">
     Diagnosis Report History
</h4>                
<!--  Patient Record Table -->
<div class="table-responsive-vertical shadow-z-1 padding50">
  <!-- Table starts here -->
  <table id="table" class="table table-bordered table-hover table-mc-light-blue">
      <thead>
        <tr class="info">
          <th>Date</th>
          <th>Diagnosis</th>
		  <th>Medicines</th>
        </tr>
      </thead>
      <tbody>
	  <tr ng-repeat="history in historyDetail">
          <td data-title="Date">{{history.appointmentDate}}</td>
          <td data-title="Diagnosis">{{history.illnessDesc}}</td>
		  <td data-title="Medicines">{{history.medicines}}</td>
      </tr>
		
	  </tbody>
</table>
</div>
</div>
</div>
