
<div class="container">
	<div><span ng-show="loadingData" class="red"><img ng-src = "load.png" alt = "Loading..."/></span></div>
<div ng-show="loggedrole=='DOCTOR'" class="container">
	<div class="padding60">

	</div>
	<div class="table-responsive-vertical shadow-z-1">
	  <!-- Table starts here -->
	  <table id="table1" class="table table-bordered table-hover table-mc-light-blue">
		  <thead>
			<tr class="info">
			  <th>Date</th>
			  <th>Patient</th>
			  <th>Time-slot</th>
			  <th>Diagnosis Report</th>
			  <th>Cancel Appointment</th>
			</tr>
		  </thead>
		  <tbody>
		  <tr ng-repeat="apt in apts">
			  <td data-title="Date">{{apt.appointmentDate}}</td>
			  <td data-title="Patient">{{apt.name}}</td>
			  <td data-title="slot">{{apt.startTime}}:00 - {{apt.endTime}}:00</td>
			  <td data-title="report">
				<button ng-show="apt.status.statusLabel='Booked'" type="button" class="btn btn-primary" ng-click="showEditModal(apt)">Enter Diagnosis Report</button>
			  </td>
			</tr>
		  </tbody>
	</table>
	</div>
</div>

<!-- Modal for enter diagnosis-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" 
	aria-hidden="true" data-keyboard="false" data-backdrop="static">
   <div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="delModalLabel">Enter Diagnosis Report</h4>
			</div>
			<div class="modal-body">
				<div>Patient name:{{selectedPt.name}}</div>
				<div>Enter illness:<input type="text" ng-model="newReport.illness"></div>
				<div>Enter medicines:<input type="text" ng-model="newReport.meds"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"
					ng-click="cancelDiagnosisReport()">Cancel</button>
				<button type="button" class="btn btn-primary"
					ng-click="saveDiagnosisReport()">Save</button>
			</div>
		</div>
	</div>
</div>
