<div class="container" ng-show="loggedrole=='PATIENT'">
	<div ng-show="loadingData" class="alert alert-info">
  		<span class="glyphicon glyphicon-time"></span> Loading...
	</div>
<div class="box-body">
  <!-- Table starts here -->
  <legend>Billing History</legend>
  <table id="table" class="table table-bordered table-hover table-mc-light-blue">
      <thead>
        <tr class="info">
          <th>Date</th>
          <th>Doctor</th>
          <th>Consultation Fees</th>
          <th>Insurance Coverage</th>
		  <th>Amount</th>
		  <th>Status</th>
        </tr>
      </thead>
      <tbody>
	  <tr ng-repeat = "p in paymentDetail">
	  		<td data-title = "Date">{{ p.d }}</td>
	  		<td data-title = "Doctor">{{ p.docName }}</td>
	  		<td data-title = "Consultation Fees">{{ p.fees }}</td>
	  		<td data-title = "Insurance Coverage">{{ p.insuranceCoverage }}</td>
	  		<td data-title = "Amount">{{ p.amount }}</td>
	  		<td data-title = "Status">{{ p.status }}</td>
        </tr>
	  </tbody>
</table>
</div>
</div>
