<div ng-show="loggedrole=='PATIENT'" class="row">
	<div class="padding60">
	<section layout="row" layout-align="center center" layout-wrap>
		  <button class="btn btn-primary btn-lg" ng-click="showAptModal()">Make a new appointment</button>
	</section>
	</div>
	<div class="table-responsive-vertical shadow-z-1">
	  <!-- Table starts here -->
	  <table id="table" class="table table-bordered table-hover table-mc-light-blue">
		  <thead>
			<tr class="info">
			  <th>Date</th>
			  <th>Doctor</th>
			  <th>Time-slot</th>
			  <th>Cancel Appointment</th>
			</tr>
		  </thead>
		  <tbody>
		  <tr ng-repeat = "a in apt1 track by $index" >
			  <td data-title="Date">{{a.id}}</td>
			  <td data-title="Doctor">{{a.name}}</td>
			  <td data-title="slot">{{a.startTime}}-{{a.endTime}}</td>
			  <td data-title="cancel">
			  <button class="btn btn-primary" ng-click="cancelAppointment(a.appointmentId,$index)">Cancel</button>
			  </td>
			</tr>
		  </tbody>
	</table>
	
	<table id="table" class="table table-bordered table-hover table-mc-light-blue">
		  <thead>
			<tr class="info">
			  <th>Date</th>
			  <th>Doctor</th>
			  <th>Time-slot</th>
			  <th>Diagnosis Report</th>
			</tr>
		  </thead>
		  <tbody>
		  <tr ng-repeat = "a in apt2">
			  <td data-title="Date">{{a.appointmentDate}}</td>
			  <td data-title="Doctor">{{a.name}}</td>
			  <td data-title="slot">{{a.startTime}}-{{a.endTime}}</td>
			  <td data-title="report">
				<button class="btn btn-primary" ng-click="showReportModal(a.appointmentId)">View Report</button>
			  </td>
			</tr>
		  </tbody>
	</table>
	</div>
</div>

<!-- New appointment Modal -->
<div class="modal fade" id="aptModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content col-sm-8">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="aptModal">New Appointment</h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                <form role="form">
                  <div class="form-group">
                    <label for="branch">State</label>
                      <select class="form-control select2" ng-model="apt.state" style="width: 100%;" ng-change="loadBranch(apt.state)" >
							  <option ng-repeat="state in loc" value="{{state.state}}">{{state.state}}</option>
					  </select>
                  </div>
				  <div class="form-group">
                    <label for="branch">Branch</label>
                      <select class="form-control select2" ng-model="apt.branch" style="width: 100%;" ng-change="getDept(apt.branch)">
							  <option ng-repeat="b in branch" value="{{b}}">{{b}}</option>
						</select>
                  </div>
				  <div class="form-group">
                    <label for="department">Department</label>
                      <select class="form-control select2" ng-model="apt.dept" style="width: 100%;" ng-change="getDoc(apt.dept)">
							  <option ng-repeat="d in dept" value="{{d.id}}">{{d.name}}</option>
						</select>
                  </div>
				  <div class="form-group">
                    <label for="doctor">Doctor</label>
                      <select class="form-control select2" ng-model="apt.doc" style="width: 100%;" >
							  <option ng-repeat="d in doc" value="{{d.id}}">{{d.name}}</option>
						</select>
                  </div>
				  <div class="form-group">
                    <label for="date">Appointment Date</label>
                    <label for="date">Year: 2016</label>
                    <label for="date">Month: </label>
                    <select class="form-control select2" ng-model="apt.month" style="width: 100%;" ng-change="getDay(apt.month)" >
                    	<option ng-repeat="m in month" value="{{m.id}}">{{m.Name}}</option>
					</select>
					<label for="date">Day: </label>
                    <select class="form-control select2" ng-model="apt.day" style="width: 100%;" ng-change="getTimeSlot()" >
                    	<option ng-repeat="r in range track by $index" value="{{$index + 1}}">{{$index + 1}}</option>
					</select>
                  </div>
                  
				  <div class="form-group">
                    <label for="time_slot">Time-slot</label>
                      <select class="form-control select2" ng-model="apt.time" style="width: 100%;" >
							  <option ng-repeat="t in times" value="{{t.id}}">{{t.start}}:00</option>
						</select>
                  </div>
                </form>
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveAppointment()">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- View report Modal -->

<div class="modal fade" id="reportModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content col-sm-8">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="reportModal">Diagnosis Report</h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">    
                <form class="form-horizontal" name="diagReport">
		  			<div class="box-body">
		  
						<div class="form-group">
			  				<label for="report_date" class="control-label font_blue">Date: </label>
			  				<label for="report_date" class="control-label font_black">{{historyDetail.appointmentDate}}</label>
						</div>
							
				  		<div class="form-group">
				  			<label for="report_doctor" class="control-label font_blue">Doctor: </label>
			  				<label for="report_date" class="control-label font_black">{{historyDetail.docName}}</label>

						</div>
						
						<div class="form-group">
				  			<label for="report_illness" class="control-label font_blue">Illness description: </label>
			  				<label for="report_date" class="control-label font_black">{{historyDetail.illnessDesc}}</label>
			  			</div>
				  		
						<div class="form-group">
				  			<label for="report_medicine" class="control-label font_blue">Medicines prescribed: </label>
				  			<label for="report_date" class="control-label font_black">{{historyDetail.medicines}}</label>
				  		</div>
				
					</div>
				</form>   
			</div> 
        	<!-- Modal Footer -->
        	<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        	</div>
    	</div>
	</div>
</div>