<div ng-show="loggedrole=='PATIENT'">
<div><span ng-show="loadingData" class="red"><img ng-src = "load.png" alt = "Loading..."/></span></div>
<div class="table-responsive-vertical shadow-z-1 padding60">
  <!-- Table starts here -->
  <table id="table" class="table table-bordered table-hover table-mc-light-blue">
      <thead>
        <tr class="info">
          <th>Date</th>
          <th>Doctor</th>
          <th>Consultation Fees</th>
          <th>Insurance Coverage</th>
		  <th>Amount</th>
		  <th>Status</th>
        </tr>
      </thead>
      <tbody>
	  <tr ng-repeat = "p in paymentDetail">
	  		<td data-title = "Date">{{ p.d }}</td>
	  		<td data-title = "Doctor">{{ p.docName }}</td>
	  		<td data-title = "Consultation Fees">{{ p.fees }}</td>
	  		<td data-title = "Insurance Coverage">{{ p.insuranceCoverage }}</td>
	  		<td data-title = "Amount">{{ p.amount }}</td>
	  		<td data-title = "Status">{{ p.status }}</td>
        </tr>
	  </tbody>
</table>
</div>
</div>
