<div class="container">
	<div><span ng-show="loadingData" class="red"><img ng-src = "load.png" alt = "Loading..."/></span></div>
<div>Welcome {{loggedrole | lowercase}} {{user.fname}} {{user.lname}} !</div>

	<div class="box box-info">
		<div class="box-header with-border">
			<h3 class="box-title">Personal Information</h3>
		</div>
		<!-- /.box-header -->
		<!-- form start -->
		<form class="form-horizontal" name="userForm">
			<div class="box-body">
				<div class="form-group">
					<label for="fName" class="col-sm-2 control-label">First
						Name</label>

					<div class="col-sm-5">
						<input ng-readOnly = "true" type="text" class="form-control" ng-model="user.fname">
					</div>
				</div>
				<div class="form-group">
					<label for="Lname" class="col-sm-2 control-label">Last
						Name</label>

					<div class="col-sm-5">
						<input ng-readOnly = "true" type="text" class="form-control" ng-model="user.lname">
					</div>
				</div>
				<div class="form-group">
					<label for="city" class="col-sm-2 control-label">City</label>

					<div class="col-sm-5">
						<input type="text" class="form-control" ng-model="user.city">
					</div>
				</div>

				<div class="form-group">
					<label for="State" class="col-sm-2 control-label">State</label>

					<div class="col-sm-5">
						<input type="text" class="form-control" ng-model="user.state">
					</div>
				</div>
				<div class="form-group">
					<label for="Zip" class="col-sm-2 control-label">Zip</label>

					<div class="col-sm-5">
						<input type="text" class="form-control" ng-model="user.zip">
					</div>
				</div>
				<div class="form-group">
					<label for="Gender" class="col-sm-2 control-label">Gender</label>

					<div class="col-sm-5">
						<input ng-readOnly="true" type="text" class="form-control" ng-model="user.gender">
					</div>
				</div>
				<div class="form-group">
					<label for="DOB" class="col-sm-2 control-label">Date
						of birth</label>
					<div class="col-sm-5">
						<input ng-readOnly = "true" type="text" class="form-control" ng-model="user.dob">
					</div>
				</div>
				<div ng-show="user.role=='patient'" class="form-group">
					<label for="patientInsurance" class="col-sm-2 control-label">Insurance
						Type</label>
						<select data-ng-model="user.insurance">
  						<option>gold</option>
  						<option>platinum</option>
  						<option>diamond</option>
  						<option>Not insured</option>
						</select>
				</div>

			</div>
			<!-- /.box-body -->
			<div class="box-footer">
				<button class="btn btn-primary" ng-click="saveProfile()">Update</button>
				<span ng-show="saved==true">Updated!</span>
			</div>
			<!-- /.box-footer -->
		</form>
	</div>
	<!-- /.box -->
</div>
