.loginBox {
  max-width:  90%;
  width: 500px
}

a.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
    
.middle-loading-box .div.center-block .glyphicon{
    margin: 0 auto;
        
}
.middle-loading-box{
    border: none;
    width: 38px;
    height: 36px;
    margin: 0 auto;
    display: block;
    text-align:center;
    padding-top:1px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top:-16px;
    margin-left:-16px
}
.glyphicon-refresh:before ,.glyphicon-refresh:after{
    color: orange;
    font-size: 30px;
    text-align:center;
}

.profileBox {
  max-width:  90%;
  width: 500px
}

.stretch input  {
  width: 60%
}

.table-hover {
  > tbody > tr:hover {
    > td,
    > th {
      background-color: @table-bg-hover;
    }
  }
}

.whiteframedemoBasicClassUsage md-whiteframe {
      margin: 20px;
      height: 90px;
      background-color: #fcddde; }
	  
	  
.padding60
{
	padding: 60px;
	
}
.font_blue
{
	color : #6699FF;
	font-family: "Lucida Console";
}
.container-label
{
	display: inline;
	width: 40px;
}
.large-Modal .modal-dialog{
    width:600px;
    height: 60%;
    
}
.padding-horizontal
{
	padding-left:30px;
	padding-right:30px;
}
#login {
    margin-right: 50px;
}


.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}

#greybox {
    line-height:30px;
    background-color:#eeeeee;
    height:220px;
    width:500px;
    float:left;
    padding-top:5px;
	padding-left:20px;
	margin-bottom: 30px;
}
.padding50
{
	padding-top: 60px;
	padding-bottom: 60px;
	padding-right: 60px;
	
	
}
