<div class="col-md-7">
			<div class="box box-info">
				<div class="box-header with-border">
				  <h3 class="box-title">Personal Information</h3>
				</div>
				<!-- /.box-header -->
				<!-- form start -->
				<form class="form-horizontal" name="userForm">
				  <div class="box-body">
					<div class="form-group">
					  <label for="patientName" class="col-sm-2 control-label">Name</label>

					  <div class="col-sm-5">
						<input type="text" class="form-control" ng-model="user.name" >
					  </div>
					</div>
					<div class="form-group">
					  <label for="city" class="col-sm-2 control-label">City</label>

					  <div class="col-sm-5">
						<input type="text" class="form-control" ng-model="user.city">
					  </div>
					</div>
					
					<div class="form-group">
					  <label for="patientState" class="col-sm-2 control-label">State</label>

					  <div class="col-sm-5">
						
						 <select class="form-control select2" ng-model="user.state" style="width: 100%;" >
							  <option ng-repeat="state in states" value="{{state.abbrev}}">
								{{state.abbrev}}
							  </option>
						</select>
					  </div>
					</div>
					<div class="form-group">
					  <label for="patientZip" class="col-sm-2 control-label">Zip</label>

					  <div class="col-sm-5">
						<input type="text" class="form-control" ng-model="user.zipcode" >
					  </div>
					</div>
            		<div class="form-group">
					  <label for="patientGender" class="col-sm-2 control-label">Gender</label>

					  <div class="col-sm-5">
						<form>
						 <md-radio-group ng-model="user.gender">
						  <md-radio-button value="Male" class="md-primary">Male</md-radio-button>
						  <md-radio-button value="Female"> Female </md-radio-button>
						</md-radio-group>
						</form>
					  </div>
					</div>
					<div class="form-group">
					  <label for="patientDOB" class="col-sm-2 control-label">Date of birth</label>

					  <div class="col-sm-5">
						<md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
						</div>
					  
					</div>
					<div class="form-group">
					  <label for="patientInsurance" class="col-sm-2 control-label">Insurance Type</label>

					  <div class="col-sm-5">
						<md-radio-group ng-model="user.insurance">
						  <md-radio-button value="Platinum" class="md-primary">Platinum</md-radio-button>
						  <md-radio-button value="Gold"> Gold </md-radio-button>
						  <md-radio-button value="Silver">Diamond</md-radio-button>
						</md-radio-group>
					  </div>
					</div>
					
				  </div>
				  <!-- /.box-body -->
				  <div class="box-footer">
					<button type="submit" class="btn btn-default">Edit</button>
					<button type="submit" class="btn btn-primary pull-right">Save</button>
				  </div>
				  <!-- /.box-footer -->
				</form>
			  </div>
			  <!-- /.box -->
 </div>
